<% if user_signed_in? %>
  <p>Current user is <em><%= current_user.email %></em></p>
  <h2>GETing last 5 messages</h2>
    <% @account.messages.where(limit: 5).each do |m| %>
      <p><%= link_to m.subject %></p>
    <% end %>
<% else %>
  <p>You gotta sign in to do that!</p>
<% end %>
