<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>GETing last 5 messages</h2>
      <h3>Sample code:</h3>
      <code data-gist-id="63075854b749fc7b8938"></code>
    </div>
    <div class="col-md-6">
      <h3>Result:</h3>
      <!-- Yes, too much logic in the view is bad! Just wanted to make everything explicit for the sake of the example. Carry on! -->
      <% if @account.nil? %>
        <p class="alert alert-danger">ContextIO account not setup properly! Did you authenticate via oauth?</p>
      <% elsif @account.messages.count == 0 %>
        <p class="alert alert-warning">There are no messages in this account (or the account has not synced yet!).</p>
      <% else %>
        <% @account.messages.where(limit: 5).each do |m| %>
          <p><%= link_to m.subject, "messages/#{m.message_id}" %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <p>You gotta sign in to do that!</p>
    </div>
  </div>
<% end %>
